#bOne{
    background-color: rgb(201, 253, 172);
    color: black;
    border-radius: 5%;
}

#gamma{
    text-decoration: none;
    color: rgb(0, 0, 0);
    list-style-type: none;
}

#eta{
    list-style-type: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

