#bOne{
    background-color: darkgray;
    color: black;
    border-radius: 5%;
}


#bTwo{
 background-color: #26413c;
 color: aliceblue;
 border-radius: 5%;
}


#bThree{
 background-color: #720026;
 color: aliceblue;
 border-radius: 5%;
}